body {
  margin: 0;
  padding: 0 20px;
}

.get-data {
  background-color: gold;
  padding: 10px;
}

.get-data h2 {
  margin-top: 0;
}

.storeInfo {
  background-color: lightblue;
  padding: 10px;
}

.storeInfo h3 {
  margin: 0;
}

.storeInfo p {
  margin: 0;
}

.input-form label {
  display: block
}
